.DS_Store
01_DataFrames_Intro.ipynb
02_Basic_DataFrame_Analysis.ipynb
03_Columns_And_Series_Basics.ipynb
04_Indexes_and_Sorting.ipynb
05_Filtering_Data.ipynb
06_Modifying_DataFrames.ipynb
07_Updating_Data.ipynb
08_Working_With_Types.ipynb
09_Working_With_Dates_And_Times.ipynb
10_Matplotlib.ipynb
11_Plotting_With_Pandas.ipynb
12_GroupBy_And_Aggregates.ipynb
13_MultiIndexing.ipynb
14_Working_With_Text.ipynb
15_Apply_Map.ipynb
16_Combining_DataFrames.ipynb
17_Seaborn.ipynb
18_SeabornAesthetics.ipynb
EXERCISE_01_Jupyter_Basics_SOLUTION.ipynb

EXERCISE_02_Dataframe_Basics_SOLUTION.ipynb

EXERCISE_03_DF_Analysis_SOLUTION.ipynb

EXERCISE_04_Series_SOLUTION.ipynb

EXERCISE_05_Indexes_Sorting_SOLUTION.ipynb

EXERCISE_06_Filtering_SOLUTION.ipynb

EXERCISE_07_Adding_Removing_Columns_SOLUTION.ipynb

EXERCISE_08_Updating_Data_SOLUTION.ipynb

EXERCISE_09_Types_NA_SOLUTION.ipynb

EXERCISE_10_Dates_SOLUTION.ipynb


EXERCISE_11_Matplotlib_SOLUTION.ipynb

EXERCISE_12_Pandas_Plotting_SOLUTION.ipynb

EXERCISE_13_GroupBy_SOLUTION.ipynb

Images/
data/

.ipynb_checkpoints/